:root{
    --primaria:#A963C9;
    --secundaria:#363636;
}
*{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}
body{
    background-color: white;

}
.container{
    background-color:var(--secundaria);
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 0.5em;
    padding-bottom: 0.5em;      
}
.logo{
    width: 40%;
    
 
}
.logo img{
    border-radius: 1.2em;
    height: 50px;
}
.icons{
    color: var(--primaria);
}
.bar{
    width: 100%;
    height: 7px;
    background-color: var(--primaria);
    opacity: 50%;
    
}
.center{
    width: 100%;
    margin: 0 auto;
    display: flex;
    
    
}
aside{
    width: 11px;    
    background-color: var(--primaria) ;
    opacity: 50%;  
    margin-left:1em;
}
.movimentos{
    width: 90%;
    margin: 0 auto;
    background-color: aqua;
}