:root{
    --primaria:#A963C9;
    --secundaria:#363636;
    --fundoh2:#9D589F;
    --fundocard:#B871B1;
    --linecolor:#DEDEDE;    
}
*{
    margin: 0;
    padding: 0;
}









                    /* header */


img{
    width: 100%;
}
body{
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.container{
    background-color:var(--secundaria);
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 0.5em;
    padding-bottom: 0.5em;      
}
.logo{
    width: 40%;

}
.logo img{
    border-radius: 1.2em;
    height: 50px;
}
.icons{
    color: var(--primaria);
}
.bar{
    width: 100%;
    height: 7px;
    background-color: var(--primaria);
    opacity: 50%;
    
}


     /* main */

            /* Home */
.center{
    width: 100%;
    margin: 0 auto;
    display: flex;
    
    
}
aside{
    width: 11px;    
    background-color: var(--primaria) ;
    opacity: 50%;  
    margin-left:1em;
}
.movimentos{
    width: 85%;
    margin: 0 auto;
    background-color:white;
    margin-right: 2em;
    box-shadow: 0 10px 10px;
    border-radius: 19px;
    margin-bottom: 2em;
}
.card{
    width: 340px;
    margin: 0 auto;
    margin-bottom: 1em;
    background-color:var(--fundocard);
    opacity: 90%;
    border: solid 1px;
    border-radius: 10px;
}
.card img{
    height: 125px;
    object-fit: cover;
}

.card h2{
    margin: 0.5em;
    background-color: var(--fundoh2);
    width: 40%;    
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #707070;     
}
.card h3{  
    margin: 0.5em;  
    text-align: end;
    background-color: var(--fundoh2);    
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #707070;
}
.card h4{
    margin: 0.5em;
}

.line{
    width: 80%;
    height: 10px;
    margin: 0 auto;
    margin-bottom: 1em;
    border-color: var(--linecolor);
    border-bottom: 1px inset; 
}
        /* fim da home */
    
    /* Cadastro */

h1{
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    margin: 1em;
    
}
.banner_cadastro{
    width: 262px;
    height: 125px;
    margin: 0 auto;
    margin-bottom: 1em; 
}
.dados{
    padding: 1em;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1.5em;
    box-shadow: 0 10px 10px;
    border-radius: 30px;
    
}
input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"],
select{
    
    border: none;
    border-bottom: 1px solid #474747;
    color: #474747;
}

.campo{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    text-transform: uppercase;
        
}

.checkbox{
    display: flex ;
    justify-content: space-around;
    margin-bottom: 1em;
    
    padding: 0.5em;
    
}
.checkbox h2{
    margin-top: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 15px;
    text-transform: uppercase;
    
}

.fielder{        
    
    display: flex;
    justify-content: space-around;
    margin-right: 0.5em;
}
fieldset div div{
    margin: 0.5em;
    
    
    
}
fieldset div div div{
    
    align-items: center;
    display: flex;
}
.campo_termos{    
    display: flex;
    align-items: center;
    font-size: 10px;
}
.campo_termos input{
    margin: 1em;    
}
button{
    width: 40%;
    height: 40%;
    margin-left: 2em;
    border-radius: 10px;
    background-color: var(--primaria);
    opacity: 51%;
    color:white;
}


    /* Fim do Cadastro */



                /* footer */

footer{
    
    box-shadow: 0px 0px 10px black;
    color: #707070;
    text-shadow: 3px 3px 6px #000000;
}

.sociais{
    display: flex;
    justify-content: space-evenly;
    color: var(--primaria);
    
}
.box1,.box2{
    width: 30%;
    margin: 1em;    
    
}
.box1 img{
    width: 100%;
    height: 50px;

}
.footer{
    width: 100%;
    height: 107px;
    background-color: #474747;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #707070;
    align-items: center;
    
}


.box2 h3{
    text-align: start;
    font-size: 10px;
    margin-left: 10px;
}
footer p{
    border: black;
    text-align: center;
    background-color: #474747;
}

@media screen and (min-width:768px){


}

@media screen and (min-width:1200px){
    
}